*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************************************  
                        LARGE DESKTOP FIRST
**************************************************************************/

/* General settings */
body{
  font-family: "Montserrat", serif;
    font-weight: 400;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.text{
    color: #4c4c4c;
    font-weight: 600;
}

.title{
    color: white;
}

.subtitle{
    color: #4c4c4c;
}

/* icone svg */
.ico{
    width: 25px;
    margin-right: 5px;
    fill-opacity: 50%;
}

/* impostazioni per barra a scorrimento */
.bar{
    width: 100%;
    background-color: grey;
    height: 5px;
    border-radius: 5px;
}

.bar-pct{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(253, 253, 253);
    height: 5px;
    border-radius: 5px;
}

.bar-point{
    width: 15px;
    height: 15px;
    border-radius: 9999px;
    background-color: white;
}





/* WRAPPER SECTION */
#wrapper{
    display: flex;
    height:calc(100vh - 130px);
    /* debug */
    background-color: rgba(0, 0, 255, 0.336);
}

/* Barra di navigazione laterale */

#wrapper nav{
    position: relative;
    overflow-y: hidden;
    width: 250px;
    height: 100%;
    background-color:#000000;
}

/* logo spotify */
#logo{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px;
}
#logo-big{
    width: 150px;
}

#logo-small{
    display: none;
}

/* parte di menù */
#nav-menu li{
    margin-bottom: 12px;
}

#nav-menu a{
    display: flex;
    align-items: center;
    color: grey;
    padding-left: 20px;
}

/* esempio di click attivo */
#nav-menu .active {
    color: white;
    border-left:1px solid orange;
}
#nav-menu .active .ico{
   fill-opacity: 100%;
}

/* Hover For Nav Menu*/
#nav-menu a:hover {
    color: white;
}
#nav-menu a:hover .ico{
    fill-opacity: 100%;   
}


/* Playlist */
#playlist {
    margin: 30px 20px 0 20px;
    color: white;
}

#playlist #create{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;

}

.fa-plus{
    background-color: #a3a3a3;
    color: black;
    font-size: 30px;
    padding: 6px 8px;
    margin-right: 10px;
}

#mylist{
    max-height: calc(100vh - 550px);
    overflow: auto;
}

#mylist li{
    line-height: 2.5;
}

/* Hover For Playlist */
#playlist a:hover span{
    color: white;
}
#playlist a:hover .fa-plus{
    background-color: white;
}
#playlist a:hover {
    color: white;
}



/* footer nav-bar */
#footer-nav{
    position: absolute;
    bottom: 0;
    background-color: #000000;
    height: 100px;
    width: 100%;
    
    /* debug */
    /* background-color: red; */
}

/* download*/
.download{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid #4c4c4c;
    margin: 0 18px;
}

.download .ico{
    width: 20px;
}

/* profilo utente */
.profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 18px;
}

.profile .ico{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    fill: white;
    background-color: #4c4c4c;
    border-radius: 9999px;
}

.profile .text {
    color: white;
}

/* Hover For Footer-Nav */
#footer-nav a:hover span{
    color: white;
}
#footer-nav a:hover .ico{
    fill-opacity: 100%;   
}





/* Contenuto PRINCIPALE pagina */
#wrapper main{
    overflow: auto;
    height: 100%;
    width: calc(100% - 250px);
    background-color: #141922;
}

/* Banner per effettuare l'upgrade */
#banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100px;
    width: 100%;
    background-color: #00000072;
}

.btn{
    font-size: 12px;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 20px;
    
}

/* hover for btn */
.btn:hover{
    font-size: 14px;
    padding: 12px 42px;
}


/* Zona Multimediale */
/* categorie della pagina */
#category{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    /* debug */
    /* height: 50px; */
    /* background-color: red; */
    /* border: 1px dashed white; */
}

#category li{ 
    line-height: 3;

}

#category a{
    color: #5d6066;
    margin: 0 12px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}

#category a:after {
    content: ""; /* Necessario per creare l'elemento */
    position: absolute;
    bottom: -5px; /* Linea sotto il testo */
    left: 25%;
    width: 0; /* Larghezza iniziale: invisibile */
    height: 2px; /* Altezza della linea */
    background-color: #a8f72e; /* Colore della linea */
    transition: width 0.3s ease; /* Animazione fluida */
}
#category a:active:after {
    width: 50%; /* La linea si estende completamente */
}

/*Hover For Category */

#category a:hover{
    color: white;
}



/* Multimedia */
main .space{
    margin:50px 20px 20px 20px;

    /* debug */
    /* background-color: red; */
    /* border: 1px dashed white; */
    /* height: 500px; */
}

main .title{
    color: white;
    font-size: 30px;

    /* debug */
    /* background-color: red; */
    /* width: 100%; */
    /* border: 1px dashed white; */
}
main .Subtitle{
    color: #6c6f75;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap:0 1.67% ;
    margin: 40px 0;
    width: 100%;

    /* debug */
    /* background-color: red; */
    /* border: 1px dashed white; */
    /* height: 200px; */
    
}

.col {
    width: 15%;
    margin-bottom: 20px;

    /* debug */
    /* background-color: #000000; */
    /* border: 1px dashed white; */
}

.photo{
    position: relative;
}

.col img {
    max-width: 100%;
}

.circle{
    border-radius: 50%
}

.col .fa-circle-play{
    display: none;
}

.col h3{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}
.col h4{
    margin-top: 8px;
    text-align: center;
    color: #4c4c4c;
    font-weight: 400;
    font-size: 14px;
}


/* Hover for colonna multimediale */
.col a:hover img{
    max-width: 100%;
    opacity: 0.5;
}
.col a:hover .fa-circle-play{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;

}












/* PLAYER SECTION */

#player{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    background-color: #282828;
}

.pl {
    height:60px;
    /* debug */
    /* border: 1px dashed red; */
}


/* parte sinistra del player */
#pl-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 28%;
    padding-left: 20px;
}

#pl-left img{
    height: 100%;
    margin-right: 10px;
    /* debug */
    /* border: 1px dashed black; */
}

#pl-left a{
    margin-right: 5px;
    /* debug */
    /* background-color: red; */
    /* border: 1px dashed black; */
}

#pl-left .title{
    font-size: 13px;
}

#pl-left .subtitle{
    font-size: 12px;
}

.fa-heart,
.fa-folder{
    font-size: 20px;
    margin-left: 5px;
    color: #4c4c4c;
}

/* Hover For Player Left */

#pl-left a:hover .subtitle{
    color: white;
    text-decoration: underline;
}

.fa-heart:hover{
    color: white;
}

.fa-folder:hover{
color: white;
}






/* Parte Centrale Del Player */
#pl-center{
    width: 40%;
    margin: 0 auto;
    height: auto;
}

/* parte centrale SUPERIORE con i bottoni */
#btn-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    min-height: 70px;
    padding-bottom: 20px;
    /* debug */
    /* background-color: red; */
    /* height: 50px; */
}

#btn-panel .space{
    margin:0 10px;
}

.fa-circle-play{
    font-size: 40px;
    margin: 0 30px;
    min-width: 50px;
    text-align: center;  
}

/* Hover For Btn-Panel */
.fa-circle-play:hover{
    font-size: 45px;
}



/* parte centrale INFERIORE con barra di riproduzione */
#play-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    width: 10%;
    color: white;
    margin: 0 10px;
}

#play-bar{
   width:88%; 
}

#play-bar .bar-pct{
    width: 50%;
}

#play-bar .bar-point{
    display: none;
}

/* Hover For Play Bar */
#play-bar:hover .bar-pct{
    background-color: green;
}

#play-bar:hover .bar-point{
    display: block;
}


/* Parte Destra Del Player */
#pl-right{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 28%;
    padding-right: 10px;
}

#pl-right div {
    display: flex;
}

#pl-right div a{
    margin-right: 20px;
    font-size: 18px;
}

#pl-right .bar{
    width: 150px;
}

#pl-right .bar-pct{
    width: 30%;
}

#pl-right .bar-point{
    display: none;
}

/* Hover For Player Right */
#pl-right .bar:hover .bar-pct{
    background-color: green;
}

#pl-right .bar:hover .bar-point{
    display: block;
}

































/*************************************************************************  
                        MEDIUM DESKTOP VIEW
**************************************************************************/
@media screen and (max-width:1279px) {
/* WRAPPER SECTION */

    /* Barra di navigazione laterale */

    /* parte di menù */
    .ico{
        width: 30px;
    }
    
    /* Zona Multimediale */
    /* categorie della pagina */
    .container-media h2{
        font-size: 35px;
    }

    /* Multimedia */
    .row{
        gap: 0 2%;
    }
    .col{
        width: 23%;
    }
    .col h3{
        font-size: 15px;
    }
    .col h4{
        font-size: 13px;
    }

/* PLAYER SECTION */

    /* parte centrale del player */

    /* parte inferiore con barra di riproduzione */
    #play-panel .time{
        width: 10%;
    }

    #play-bar{
    width:70%; 
    }

    
}



/*************************************************************************  
                            TABLET VIEW
**************************************************************************/
@media screen and (max-width:768px) {
/* WRAPPER SECTION */

    /* Contenuto PRINCIPALE pagina */
    /* banner per effettuare l'upgrade */
    .btn{
        font-size: 13px;
        padding: 10px 28px;
    }

    /* hover for btn */
    .btn:hover{
        font-size: 14px;
        padding: 10px 30px;
    }
    
    /* Zona Multimediale */
    /* categorie della pagina */

    #category a{
        font-size: 14px;
        margin: 0 8px;
    }

    /* Multimedia */
    .row{
       gap: 0 2%;
    }

    .col{
        width: 48%;
        margin-right: 0;
    }



/* PLAYER SECTION */

    /* parte sinistra del player */
    #pl-left{
        width: 25%;
        padding-left: 10px;
    }

    #pl-left img{
        height: 70%;
    }

    #pl-left a{
        margin-right: 5px;
    }

    .fa-heart,
    .fa-folder{
        display: block;
        font-size: 18px;
        margin: 5px 2px;
    }

    /* Parte CENTRALE Del Player */

    /* Parte Centrale SUPERIORE */
    #btn-panel{
        font-size: 22px;
        min-height: 60px;
    }

    .fa-circle-play{
        font-size: 30px;
        margin: 0 5px;
        min-width: 35px;
        text-align: center;  
    }

    /* Hover For Btn-Panel */
    .fa-circle-play:hover{
        font-size: 35px;
    }


    /* Parte Centrale INFERIORE */
    #play-bar{
        width:50%;
    }

    #play-panel .time{
        width: 12%;
        font-size: 14px;
    }

    #play-bar{
    width: 60%;
    }


    /* Parte DESTRA del player */
    #pl-right div a{
        font-size: 14px;
        margin-right:14px
    }
    
}






/*************************************************************************  
                            MOBILE VIEW
**************************************************************************/
@media screen and (max-width:480px) {

/* WRAPPER SECTION */

    /* Barra di navigazione laterale */
    #wrapper nav{
        width: 60px;
        height: 100%;
        background-color:#000000;
    }

    /* logo spotify */
    #logo{
        justify-content: center;
        height: 50px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 0;
    }
    #logo-big{
    display: none;
    }
    #logo-small{
        display: inline;
        width: 35px;
    }


    /* parte di menù */

    #nav-menu a{
    justify-content: center;
    padding: 0;
    }
    #nav-menu a span{
        display: none;
    }
    .ico{
        margin: 0;
    }

    /* Playlist */
    #playlist {
        display: none;
    }

    /* Footer Nav-Bar */
    #footer-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Download */
    .download{
        display: block;
        padding-bottom:0;
        border-bottom:none;
        margin: 0;
    }

    .download .ico{
        width: 30px;
        padding-right: 4px;
    }
    .download .text {
        display: none;
    }

    /* Profilo utente */

    .profile{
        margin-top: 10px;
    }
    .profile .ico{
        width: 35px;
        height: 35px;
        margin:0;
    }

    .profile .text{
        display: none;
    }



    /* Contenuto PRINCIPALE Pagina */
    #wrapper main{
        overflow: auto;
        height: 100%;
        width: calc(100% - 60px);
    }

    /* Zona Multimediale */


/* PLAYER SECTION */

    /* Parte SINISTRA Del Player */
    #pl-left{
        padding-left: 10px;
    }

    #pl-left img{
        display: none;
    }

    #pl-left .fa-heart,
    #pl-left .fa-folder{
        font-size: 14px;
    }


    /* Parte CENTRALE Del Player */

    /* Parte Centrale SUPERIORE */
    #btn-panel{
        font-size: 18px;
        min-height: 55px;
    }

    .fa-circle-play{
        font-size: 25px;
        margin: 0 5px;
        min-width: 30px;
        text-align: center;  

    }

    /* Hover For Btn-Panel */

    .fa-circle-play:hover{
        font-size: 30px;
    }

    /* Parte Centrale Inferiore*/
    #play-panel .time{
        width: 10%;
        font-size: 10px;
    }

    #play-bar{
        width: 60%;
    }


    /* Parte DESTRA Del Player */
    #pl-right div a{
        font-size: 12px;
        margin-right:10px
    }     
}