*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************************************  
                        LARGE DESKTOP FIRST
**************************************************************************/

/* General settings */
body{
  font-family: "Montserrat", serif;
    font-weight: 400;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.text{
    color: #4c4c4c;
    font-weight: 600;
}

.title{
    color: white;
}

.subtitle{
    color: #4c4c4c;
}

.bar{
    width: 100%;
    background-color: grey;
    height: 5px;
    border-radius: 5px;
}

.bar-pct{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(253, 253, 253);
    height: 5px;
    border-radius: 5px;
}

.bar-point{
    width: 15px;
    height: 15px;
    border-radius: 9999px;
    background-color: white;
}


/* WRAPPER SECTION */

#wrapper{
    display: flex;
    height:calc(100vh - 130px);
    /* debug */
    background-color: rgba(0, 0, 255, 0.336);
}

/* Barra di navigazione laterale */
#wrapper nav{
    width: 250px;
    height: 100%;
    background-color:#000000;
    position: relative;
}

/* logo spotify */
#logo{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px;

}
#logo-big{
    width: 150px;
}

#logo-small{
    display: none;
}

/* parte di menù */
#nav-menu li{
    margin-bottom: 12px;
   
}
#nav-menu a{
    display: flex;
    align-items: center;
    color: grey;
    padding-left: 20px;
}

#nav-menu .active {
    color: white;
    border-left:1px solid orange;
}
#nav-menu .active .ico{
   fill-opacity: 100%;
}

.ico{
    width: 25px;
    margin-right: 5px;
    fill-opacity: 50%;
}

/* hover for nav menu */
#nav-menu a:hover {
    color: white;
}
#nav-menu a:hover .ico{
    fill-opacity: 100%;   
}

/* Playlist */
#playlist {
    margin: 30px 20px 0 20px;
    color: white;
}

#playlist #create{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;

}

.fa-plus{
    background-color: #a3a3a3;
    color: black;
    font-size: 30px;
    padding: 6px 8px;
    margin-right: 10px;
}


#mylist{
    /* max-height: 30vh; */
    max-height: calc(100vh - 550px);
    overflow: auto;
}
#mylist li{
    line-height: 2.5;
}

/* hover for playlist */
#playlist a:hover span{
    color: white;
}
#playlist a:hover .fa-plus{
    background-color: white;
}
#playlist a:hover {
    color: white;
}



/* footer nav-bar */
#footer-nav{
    position: absolute;
    bottom: 0;
    background-color: #000000;
    height: 100px;
    width: 100%;
    
    /* debug */
    /* background-color: red; */
}

/* download*/
.download{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid #4c4c4c;
    margin: 0 18px;
}

.download .ico{
    width: 20px;
}

/* profilo utente */
.profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 18px;
}

.profile .ico{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    fill: white;
    background-color: #4c4c4c;
    border-radius: 9999px;
}

.profile .text {
    color: white;
}

/* hover for footer-nav */

#footer-nav a:hover span{
    color: white;
}
#footer-nav a:hover .ico{
    fill-opacity: 100%;   
}





/* Contenuto principale pagina */
#wrapper main{
    overflow: auto;
    height: 100%;
    width: calc(100% - 250px);
    background-color: #141922;
}


/* banner per effettuare l'upgrade */
#banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #00000072;
}

.btn{
    font-size: 12px;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 20px;
}

/* hover for btn */

.btn:hover{
    font-size: 14px;
    padding: 12px 42px;
}












/* PLAYER SECTION */

#player{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    background-color: #282828;
}

.pl {
    height:60px;
    /* debug */
    /* border: 1px dashed red; */
}

/* parte sinistra del player */
#pl-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 28%;
    padding-left: 20px;

}

#pl-left img{
    height: 100%;
    margin-right: 10px;
    /* debug */
    /* border: 1px dashed black; */
}
#pl-left a{

    margin-right: 5px;
    /* debug */
    /* background-color: red; */
    /* border: 1px dashed black; */
}

#pl-left .title{
    font-size: 13px;
}

#pl-left .subtitle{
    font-size: 12px;
}

.fa-heart,
.fa-folder{
    font-size: 20px;
    margin-left: 5px;
    color: #4c4c4c;
}





/* hover for pl.left */

#pl-left a:hover .subtitle{
    color: white;
    text-decoration: underline;
}

.fa-heart:hover{
    color: white;
}
.fa-folder:hover{
color: white;
}






/* parte centrale del player */
#pl-center{
    width: 40%;
    height: 100px;
    margin: 0 auto;
}

/* parte superiore con i bottoni */
#btn-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 20px auto;
    font-size: 25px;
    min-height: 50px;
    /* debug */
    /* background-color: red; */
    /* height: 50px; */
}

#btn-panel .space{
    margin:0 10px;
}

.fa-circle-play{
    font-size: 40px;
    margin: 0 30px;
    min-width: 45px;
    text-align: center;
    
}

.fa-circle-play:hover{
    font-size: 45px;
}

/* parte inferiore con barra di riproduzione */
#play-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    width: 10%;
    color: white;
    margin: 0 10px;
}

#play-bar{
   width:88%; 
}

#play-bar .bar-pct{
    width: 50%;
}

#play-bar .bar-point{
    display: none;
}
#play-bar:hover .bar-pct{
    background-color: green;
}

#play-bar:hover .bar-point{
    display: block;
}










/* parte destra del player */
#pl-right{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 28%;
    padding-right: 10px;
}
#pl-right div {
    display: flex;
   }

#pl-right div a{
 margin-right: 20px;
 font-size: 18px;
}


#pl-right .bar{
    width: 150px;
}
#pl-right .bar-pct{
    width: 30%;
}
#pl-right .bar-point{
 display: none;
}
#pl-right .bar:hover .bar-pct{
    background-color: green;
}
#pl-right .bar:hover .bar-point{
 display: block;
}

































/*************************************************************************  
                        MEDIUM DESKTOP VIEW
**************************************************************************/
@media screen and (max-width:1199px) {
    /* WRAPPER SECTION */
    /* Barra di navigazione laterale */
    /* parte di menù */
    .ico{
        width: 30px;
    }
    

/* PLAYER SECTION */

/* parte centrale del player */
/* parte inferiore con barra di riproduzione */

#play-panel .time{
    width: 10%;

}

#play-bar{
   width:70%; 
}

    
}



/*************************************************************************  
                            TABLET VIEW
**************************************************************************/
@media screen and (max-width:991px) {


/* banner per effettuare l'upgrade */
.btn{
    font-size: 14px;
}

/* hover for btn */
.btn:hover{
    font-size: 16px;
    padding: 12px 42px;
}


/* PLAYER SECTION */

#pl-left{
    width: 25%;
    }


#pl-left a{
    margin-right: 5px;
}


.fa-heart,
.fa-folder{
    margin: 5px 0;
    display: block;
}



#play-bar{
    width:50%; 
    }

    .time{
    width: 45%;
    color: white;
    margin: 0 10px;
}

#pl-right div a{
    margin-right: 15px;
    font-size: 18px;
    }
}






/*************************************************************************  
                            MOBILE VIEW
**************************************************************************/
@media screen and (max-width:767px) {

/* WRAPPER SECTION */

/* Barra di navigazione laterale */
#wrapper nav{
    width: 60px;
    height: 100%;
    background-color:#000000;
}

/* logo spotify */
#logo{
    justify-content: center;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
}
#logo-big{
   display: none;
}
#logo-small{
    display: inline;
    width: 35px;
}


/* parte di menù */

#nav-menu a{
   justify-content: center;
   padding: 0;
}
#nav-menu a span{
    display: none;
}
.ico{
    margin: 0;
}

/* Playlist */
#playlist {
    display: none;
}

/* footer nav-bar */
#footer-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* download */
.download{
    display: block;
    padding-bottom:0;
    border-bottom:none;
    margin: 0;
}

.download .ico{
    width: 30px;
    padding-right: 4px;
}
.download .text {
    display: none;
}

/* profilo utente */

.profile{
    margin-top: 10px;
}
.profile .ico{
    width: 35px;
    height: 35px;
    margin:0;
}

.profile .text{
    display: none;
}



/* Contenuto principale pagina */
#wrapper main{
    overflow: auto;
    height: 100%;
    width: calc(100% - 60px);

}
/* PLAYER SECTION */

#pl-left{
    padding-left: 10px;
}




#pl-right div a{
    font-size: 14px;
   }
    
}
